            <div class="container">
                <div class="header-img contact-img"></div>
            </div>
    
        
        <section class="page-content contact-us">
            <div class="container">
                <div class="heading-block">
                    <h2 class="heading">Contact US</h2>
                    <div class="head-line m-b-10"></div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                    <%= form_tag(contact_admin_user_static_content_index_path,:id=>"contact_form" ,:class=>"form-block row") do %>
                            <div class="form-group col-md-6">
                            <%= text_field_tag "first_name",nil,:class=>"form-control", :placeholder=>"First Name"%>
                            </div>
                            
                            <div class="form-group col-md-6">
                            <%= text_field_tag "last_name",nil,:class=>"form-control", :placeholder=>"Last Name"%>
                            </div>

                            <div class="form-group col-md-6">
                            <%= text_field_tag "email",nil,:class=>"form-control", :placeholder=>"Email"%>
                            </div>

                            <div class="form-group col-md-6">
                            <%= text_field_tag "mobile_number",nil,:class=>"form-control", :placeholder=>"Mobile Number"%>

                            </div>
                            <div class="form-group col-md-12">
                            <%= select_tag :subject,options_for_select(["Hindi","English"]),:class=>"form-control",:prompt=>"Select language"%>
                            </div>
                            <div class="form-group col-md-12">
                            <%= text_area_tag "help",nil,:class=>"form-control", :placeholder=>"How Can We Help"%>                      
                            </div>

                            <div class="form-group col-md-12">
                                 <%=submit_tag "Submit",:class=>"btn red-btn"%>
                           </div>
                           <% end %>
                    </div>
                    <div class="col-md-5">
                        <ul class="contact-list">
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <%= html_escape(StaticPage.find_by(title: "Address").try(:content))%>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                + 91 <%= StaticPage.find_by(title: "Phone Number").try(:content)%>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <%= html_escape(StaticPage.find_by(title: "Email").try(:content))%>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


<script type="text/javascript">

  $('#contact_form').validate({
        // Specify the validation rules
        rules: {
            "first_name": {
                 required: true,
                 pattern: /^[a-z A-Z]+$/,
                 maxlength: 10
                
            },
            "last_name": {
                 required: true,
                 pattern: /^[a-z A-Z]+$/,
                 maxlength: 10
                
            },
            "email": {
                 required: true,
                 email: true,
                 },
                 
            "mobile_number": {
                 required: true,
                 number: true,
                 maxlength: 10,
                 minlength: 10

                
            },
            "subject": {
                 required: true,
                
            },

            "help": {
                 required: true,
                 maxlength: 250
                
            },
        },
        // // Specify the validation error messages
        messages: {
             "first_name": {
                required: "Please enter first name",
                pattern: "Please enter only letters",
                maxlength: "First name not exceed 10 characters"
                
            },
            "last_name": {
                required: "Please enter last name",
                pattern: "Please enter only letters",
                maxlength: "Last name should not exceed 10 characters"
                
            },
            "email": {
                required: "Please enter email id",
                email: "Please enter valid email id",
                

            },
            "mobile_number": {
                required: "Please enter mobile number",
                number: "Please enter only numbers",
                maxlength: "Only 10 characters allowed",
                minlength: "Only 10 characters allowed"
                
            },
            "subject": {
                required: "Please select a language"
                
            },

            "help": {
                required: "Please enter your query",
                maxlength: "Query should not exceed more than 250 characters"
                
            },
            
        },
       submitHandler: function(form) {
            form.submit();
        }
    });
        
        </script>