<%= render :partial => 'layouts/slider_top'%>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post,id: "confirm_email" }) do |f| %>
<%= devise_error_messages! %>
   <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true, placeholder: "Email",:class=>"form-control",value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions">
    <%= f.submit "Resend confirmation instructions",:class=>"btn btn-block submit-btn mrg-tb" %>
    </div></br>
    <% end %>
<%= render :partial => 'layouts/slider_bottom'%>
<%#= render "devise/shared/links" %>


<script type="text/javascript">
  $(document).ready(function(){
   $("#confirm_email").validate({
        // Specify the validation rules
        rules: {
            "user[email]": {
                 required: true,
                 email: true,
                 remote:"/users/find_email"
            },
            
        },
        // // Specify the validation error messages
        messages: {
             "user[email]": {
                required: "Please enter email Id." ,
                email: "Please enter valid email Id." ,
                remote: "Email not found.",
                
            },
            
            
        },
       submitHandler: function(form) {
            form.submit();
        }
    });
    });

</script>