         <p id="flash_error"><%= flash[:notice] if flash[:notice].present?%></p>
         <% flash[:notice] = ""%>
		<div id="myCarousel" class="home-cro carousel slide">
			<div class="carousel-inner custom-carousel">
				<% first_image= HomePageImage.where(status: "Active").first %>
           <div class="item active" style="width:100%;">
             <img src="<%= first_image.try(:image).try(:url) %>" alt="">
           </div>
            <% (HomePageImage.all.where(status: "Active")-Array(first_image)).each do |f| %>
             <div class="item" style="width:100%;">
              <img src="<%= f.try(:image).try(:url) %>" alt="" >
             </div>
             <% end %>
			</div>
			<a class="left carousel-control arrow" href="#myCarousel" data-slide="prev">
				<span class="icon-ar"></span>
			</a>
			<a class="right carousel-control arrow" href="#myCarousel" data-slide="next">
				<span class="icon-ar"></span>
			</a>
			<div class="slider-content home-slide">
				<div class="container">
					<div class="login-box">					
							<div class="carousel-caption-a text-center">
							<div class="main-t-h">Track your Routes</div>
							<div class="sub-t-h"><%= StaticPage.find_by(title: "Track Your Routes").try(:content)%></div>
						</div>
					</div>
				</div>			
			</div>
		</div>

		<section class="home-f">
			<div class="container">
				<div class="heading-crat text-center">
					<h2>HOW IT WORKS</h2>
					<span></span>
				</div>
				<div class="row">
					<% HowItWork.first(3).each do |object|%>
					<div class="col-xs-12 col-sm-4 col-md-4">
						<div class="sec_contain">
							<figure class="post-thumb"> 
							 <img src="<%= object.try(:image).try(:url) %>" alt="" class="img-responsive" />
								<figcaption><span><img src="/assets/t1.png" alt="" /></span></figcaption>	
							</figure>
							<div class="thumb-info text-center">
							<h4><%= object.try(:title) %></h4>
					      <%= render :partial => 'user/home/read_more', :locals => {object: object } %>
					  </div>
					</div>
					</div>
				  <% end %>
				</div>
			</div>
		</section>
		<section class="who_sec">
			<div class="container">
				<div class="who_info text-center">
					<div class="inner_content">
						<div class="heading-crat heading-white text-center">
							<h2>WHO WE ARE</h2>
							<span></span>
						</div>
						<div class="who-cont">
							<p><%= StaticPage.find_by(title: "Who We Are").try(:content).html_safe%></p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="home-f">
			<div class="container">
				<div class="heading-crat text-center">
					<h2>Our Feeds</h2>
					<span></span>
				</div> 
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="sec_contain1">
							<figure class="post-thumb"> 
								<%= image_tag @arr.first["pic"].present? ? @arr.first["pic"] : src="/assets/img2.png" ,:class=>"img-responsive",:size => "287x215" %>
								<!--<img src="#{@arr.first["pic"]}%>" alt="" class="img-responsive" /> -->
							</figure>
							<div class="thumb-info1">
								<div class="feeds-in text-center">
									<h4><%= @arr.first["name"].present? ? @arr.first["name"] : "James Jackson"%></h4>
									<p><%= @arr.first["tags"].present? ? @arr.first["tags"].map{|h| h.prepend("#")}.join(",") : "#ipsum #dolor sit amet, conse ctetur adipiscing elit # Aenean euismod bibendum laoreet. Proin gravida dolor sit"%></p>
									<div class="date-link">
										<label class="pull-left"><%= @arr.first.present? ? Time.at(@arr.first["time"].to_i).strftime("%d-%m-%Y") : "12-08-2016"%></label>
										<a href="#" class="pull-right"><img src="/assets/insta.png" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="sec_contain1">
							<figure class="post-thumb">
								<%= image_tag @arr.second["pic"].present? ? @arr.second["pic"] : src="/assets/img2.png",:class=>"img-responsive",:size => "287x215" %> 
								<!-- <img src="/assets/img2.png" alt="" class="img-responsive" /> -->
							</figure>
							<div class="thumb-info1">
								<div class="feeds-in text-center">
									<h4><%= @arr.second["name"].present? ? @arr.second["name"] : "James Jackson"%></h4>
									<p><%= @arr.second["tags"].present? ? @arr.second["tags"].map{|h| h.prepend("#")}.join(",") : "#ipsum #dolor sit amet, conse ctetur adipiscing elit"%></p>
									<div class="date-link">
										<label class="pull-left"><%= @arr.second.present? ? Time.at(@arr.second["time"].to_i).strftime("%d-%m-%Y") : "12-08-2016" %></label>
										<a href="#" class="pull-right"><img src="/assets/insta.png" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="sec_contain1">
							<figure class="post-thumb"> 
								<%= image_tag @arr.third.present? ? @arr.third["pic"] : src="/assets/img2.png",:class=>"img-responsive",:size => "287x215" %> 
								<!-- <img src="/assets/img2.png" alt="" class="img-responsive" /> -->
							</figure>
							<div class="thumb-info1">
								<div class="feeds-in text-center">
									<h4><%= @arr.third.present? ? @arr.third["name"] : "James Jackson"%></h4>
									<p><%= @arr.third.present? ? @arr.third["tags"].map{|h| h.prepend("#")}.join(",") : "#ipsum #dolor sit amet, conse ctetur adipiscing elit # Aenean euismod bibendum laoreet. Proin gravida dolor sit"%></p>
									<div class="date-link">
										<label class="pull-left"><%= @arr.third.present? ? Time.at(@arr.second["time"].to_i).strftime("%d-%m-%Y") : "12-08-2016"%></label>
										<a href="#" class="pull-right"><img src="/assets/insta.png" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="sec_contain1">
							<figure class="post-thumb"> 
								<!-- <img src="/assets/img3.png" alt="" class="img-responsive" /> -->
								<%= image_tag (@tweet.media.present? ? @tweet.media.first.media_uri : "/assets/img3.png"),:size => "287x215",:class => "img-responsive" %>
							</figure>
							<div class="thumb-info1">
								<div class="feeds-in text-center">
									<!-- <h4>James Jackson</h4> -->
									<h4><%= @tweet.try(:user).try(:name)%></h4>
									<p><%= @tweet.try(:text).gsub(/(?:f|ht)tps?:\/[^\s]+/, '')%></p>
									<div class="date-link">
										<label class="pull-left"><%=@tweet.created_at.strftime("%d-%m-%Y")%></label>
										<a href="#" class="pull-right"><img src="/assets/twit.png" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> 
		</section>
		