<%= render :partial => 'layouts/slider_top'%>
<p class="login-box-msg">LOGIN</p>
<p class="des-msg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
<%= form_for(resource, as: resource_name, url: session_path(resource_name),:class=>"login-form-a",:html=>{id: "login_form"}) do |f| %>
<%#= resource.validate %>
<%#= devise_error_messages! %>
<p id="flash_error"><%= flash[:notice] if flash[:notice].present?%></p>
<% flash[:notice] = ""%>
  <div class="form-group has-feedback user-icon">
    <%= f.email_field :email, autofocus: true,:class=>"form-control",placeholder: "Email id" %>
  </div>

  <div class="form-group has-feedback lock-icon">
    <%= f.password_field :password, autocomplete: "off",:class=>"form-control",placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                <div class="login-check">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
            </div>
  <% end -%>

                    <!-- /.col -->
  <div class="col-sm-6 col-xs-6">
      <div class="forget-pwd pull-right">
      <a href="/users/password/new" data-toggle="modal">Forgot Password ?</a>
      </div>
  </div>
                    <!-- /.col -->
  </div>
    <%= f.submit "Sign in" ,:class=>"btn btn-block submit-btn mrg-tb"%>
  </div></br>
  <% end %>

  </div>
    <div class="already-usr-a text-center">
      <h2 class="white-a">Don’t have an account?</h2>
      <a href="/users/sign_up" class="btn btn-block signup-btn">Sign Up</a>
 <%= render :partial => 'layouts/slider_bottom'%>
       
<script type="text/javascript">
  $(document).ready(function(){
   $("#login_form").validate({
        // Specify the validation rules
        rules: {
           
            "user[email]": {
                 required: true,
               },
            "user[password]": {
                 required: true,
                
            },
           
        },
        // // Specify the validation error messages
        messages: {
             
            "user[email]": {
                required: "Please enter email id",

            },
            "user[password]": {
                required: "Please enter password",
                
            },
            
            
        },
       submitHandler: function(form) {
            form.submit();
        }
    });
    });

</script>