<% if @buses %>
<table class="table">
<thead>
 <tr>
   <th>From</th>
   <th>To</th>
   <th>Price</th>
   <th>Departs</th>
   <th>Arrives</th>
   <th>Start Date</th>
   <th>Untill</th>
   <th></th>
 </tr>
</thead>
<tbody>
<% @buses.each do |bus| %>
 <tr>
   <td><%= bus.start_point %></td>
   <td><%= bus.end_point %></td>
   <td><%= bus.try(:price) %></td>
   <td><%= bus.start_time.strftime("%I:%M") %></td>
   <td><%= bus.end_time.strftime("%I:%M") %></td>
   <td><%= bus.start_date.strftime("%e %b") %></td>
   <td><%= bus.end_date.strftime("%e %b") %></td>
   <td><span class="cart-i"><i class="fa fa-cart-arrow-down" style="font-size:1.6em;"></i> <%= link_to "Add to cart"  , add_to_cart_user_orders_path(:id => bus.id , :type => "hop" ) ,  :class => "btn red-btn cart"  %></span></td>
 </tr>
<% end%>
 
</tbody>
</table>
<% end %>