
<% if (@category and @activities) %>

<div class="category-section">
                    <div class="category-block">
                      <div class="heading-block">
                        <h2 class="heading"><%= @category.name.try(:capitalize) %></h2>
                        <div class="head-line m-b-10"></div>
                      </div>
                      <div class="category">
                        <%= image_tag(@category.image.url, :class => "img-responsive") %>
                        Image Courtesy: <%= @category.image_credit %>
                      </div>
                    </div>
                      <% @activities.each do |activity| %>
                        <div class="activity-block">
                          <div class="heading-block">
                            <h2 class="heading"><%= activity.name.try(:capitalize) %></h2>
                            <div class="head-line m-b-10"></div>
                          </div>
                          <div class="activity-inner-block">
                            <div class="activity-img">
                              <img class="img-responsive" src="<%= activity.image.url %>">
                              Image Courtesy:  <%= activity.image_credit %>
                            </div>
                            <div class="activity-detail">
                              <p class="para-text">
                               <%= activity.information.html_safe %>
                              </p>
                              <!-- <button > </button> -->
                               <%= link_to "See Details" , user_activity_path(activity.id)  ,class:"btn btn-sm red-btn" %>
                            </div>
                          </div>
                        </div>
                      <%end%>
           </div>
<%end%>


