 <div class="city-section-block">
  <div class="heading-block">
    <h2 class="heading"><%= @city.try(:name) %></h2>
    <div class="head-line m-b-10"></div>
  </div>
  <div class="search-city-detail">
	<div class="row">
	  <div class="col-md-7">
		<div class="city-img">
		  <img class="img-responsive" src="<%= @city.image.url %>">
		</div>
	  </div>
	  <div class="col-md-5">
	   <ul class="city-img6">
	   <% @city.photos.each do |image| %>
		<li class="city-6-images">
		  <img class="img-responsive" src="<%= image.image.url %>">
	    </li>
	    <%end %>
	   </ul>
	  </div>
	</div>
  </div>
 </div>
 <div class="overview-section">
	   <div class="heading-block">
        <h2 class="heading">Overview</h2>
        <div class="head-line m-b-10"></div>
       </div>
	   <div class="overview-block">
		  <div class="txt">
		  <%= @city.try(:overview) %>
	      </div>
	 </div>
	 <div class="imp-info-section">
	   <div class="heading-block">
        <h2 class="heading">Important info </h2>
        <div class="head-line m-b-10"></div>
       </div>
	   <div class="overview-block">
		  <div class="txt">
		  	<div id= "city_important_see_more">
		    <%= truncate(@city.try(:important), :length =>264, :escape => false) %>
		    <a class="link-a pull-right" id= "city_important_more"> See More </a>
		   </div>
		   <div id= "city_important_see_less">
		    <%= @city.try(:important)%>
		    <a class="link-a pull-right" id= "city_important_less" > See Less </a>
		  </div>
		  </div>						
	   </div>
	 </div>      
	        <h1><%= "Event Categories" if @city_categories.present?%></h1>
				 <div class="category-info-section">
				 	<% @city_categories.each do |category| %>
						   <div class="heading-block">
						     <h2 class="heading"><%= category.try(:name).titleize %> </h2>
					        <div class="head-line m-b-10"></div>
					       </div>
						   <div class="category-view-block">
							  <ul class="city-img6 clearfix">
								<li class="city-6-images">
								  <img class="img-responsive" src="<%= category.image %>">
							    </li>
							   </ul>	
							   <p class="txt">
								<%= category.info %>
							   </p>
							   <a><%= link_to "See More",category_details_user_routes_path(category_id: category.id , city_id: @city.id),:class=>"link-a pull-right",remote: true %></a>
							   </br>
						    </div>
				    <% end %>
				  </div>
	</div>
   </div>
  </div>
