  <!-- second row -->
          <div class="col-md-10">
            <div class="tab-block">
              <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#home">Detail itinerary</a></li>
                <li><a data-toggle="tab" href="#menu1">Accommodation</a></li>
                <li><a data-toggle="tab" href="#menu2" id = "hide_see_less">City Info & Activities</a></li>
                <li><a data-toggle="tab" href="#menu3">Possible Routes</a></li>
              </ul>
              <!------ Detail itinerary  ------>
              <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                  <div class="itinerary-block faq-content-block">
					<div class="row date-picker">
					 
					</div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="panel panel-default calendar-block">
                            <div class="panel-heading" role="tab" id="headingOne">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapsefirst" aria-expanded="false" aria-controls="collapseOne">
                                Timetable
                                </a>
                              </h4>
                            </div>
                            <div id="collapsefirst" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body">
                                <div class="row">
                                    <div id="calendar"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default div_height">
                            <div class="panel-heading" role="tab" id="headingOne">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Schedule
                                </a>
                              </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                              <div   class="panel-body panel-table table-responsive" id= "bus_data_append">
                                <!-- partial -->
                                 <%= render :partial=> "user/routes/get_date_buses"  %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!------ Accomodation  ------>
                <div id="menu1" class="tab-pane fade">
                  <div class="accomodation-block">
                    <div class="heading-block">
                      <h2 class="heading">Accomodation</h2>
                      <div class="head-line m-b-10"></div>
                    </div>
                    <p class="txt">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenvoluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <ul class="quick-links">
                    <!-- <li><a href="www.google.com">Book Your Stay</a></li> -->
                    <p><a href=<%=StaticPage.where(title: "Accommodation").first.content%>>Book Your Stay</a></p>
                    </ul>
                  </div>
                </div>
                <!------ City Info & Activities  ------>
            
                    

                <!-- hello -->
                <div id="menu2" class="tab-pane fade in">
                  <div class="city-info">
                    <div class="row city-search-block"  >
                      <div class="col-md-6">
                        <form class="form-block">
                          <div class="form-group">
                            <%= select_tag :city , options_for_select(@city_dropdown.pluck(:name ,:id)) , :id => "city_dropdown", :class => "form-control" , :include_blank => "Select City"%>
                          </div>
                        </form>
                      </div>
                      
                    </div>
					
					<!-- Category main section removed from here -->

                           <%= render partial: "/user/routes/category_details"%>
                  <div class="category-main-section" id = "city_details_append">
                  <%= render partial: "/user/routes/city_details"%>
                  </div>
                <!------ Possible Routes  ------>
                <div id="menu3" class="tab-pane fade">
                  <%= render partial: "/user/routes/possible_routes" %>
                </div>

              </div>
            </div>
          </div>
    

    <div id="products" data-url="<%= @buses.to_json %>"> 

  <script>
  $(document).ready(function(){
   var bus_data = $('#products').data('url');
   console.log(bus_data.length);
   var arr = [];
   for(var i = 0; i < bus_data.length; i++){
    if (bus_data[i].bus_start_date != null){
    h = {};
    h["date"] = bus_data[i].bus_start_date;
    h["title"] = "Available" ;
    // h["backgroundColor"] = "red";
    arr.push(h);
  }
    }
 console.log(JSON.stringify(arr));

        $('#calendar').fullCalendar({
            height: 650,
            defaultDate: Date.current,
            editable: true,
            firstDay: 1,
            eventLimit: true, // allow "more" link when too many events
            dayClick: function(date, jsEvent, view){  
             if (moment().format('YYYY-MM-DD') === date.format('YYYY-MM-DD') || date.isAfter(moment())) {
        // This allows today and future date
              // alert('Clicked on: ' + date.format());
              $.getScript( "/user/routes/get_date_buses.js?date="+date.format(), function( data) {
              console.log( data ); 
              console.log( "Load was performed." );
              });
              var scrollBottom = $('.div_height').offset().top;
             $('html, body').animate({scrollTop:scrollBottom}, 'slow');
              } else {
                  // Else part is for past dates                
                alert('Not allowed for Past Date.');
              }
                // change the day's background color just for fun
                // $(this).css('background-color', 'red');
            },
            dayRender: function(date, cell){
              var maxDate = '2016-12-25'
        if (date.format() > maxDate){
            console.log(cell);
            // cell.css("background-color", "red");
             $(cell).addClass('disabled');
        }
    },
    // events:[
    // for(i in bus_data){

    // }
            events:arr

        });
      });  
</script>