<% if @posssible_routes %>
      <div class="possible-routes-block">
        <div class="row">
         <% @posssible_routes.each do |route| %>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="sec_contain">

              <figure class="post-thumb">
                <img src="<%= route.image_url %>" alt="" class="img-responsive" style="width:100%; max-height:180px;">
                <figcaption><span><img src="/assets/plus-red.png" alt=""></span></figcaption>
              </figure>

              <div class="thumb-info text-center">

                <h4><%= truncate(route.name, length: 26, omision: "..." )%></h4>
                <div class="detail-trip-block">
                  <div class="detail-t">
                    <label>Price :  </label> 
                    <span><%= route.main_route.price %></span>
                  </div>
                  <div class="detail-t">
                    <label>Duration :  </label> 
                    <span><%= route.main_route.duration %> days</span>
                  </div>
                  <div class="detail-t">
                    <label>Start Point:  </label> 
                    <span><%= route.main_route.start_point %></span>
                  </div>
                </div>
              </div>
            </div>
            Image Courtesy: <%= route.main_route.image_credit%>
          </div>
           
         <%end%>
        </div>
      </div>

<%end%>
<!--  My code for adding routes-->
<div class="panel panel-default div_height">
                            <div class="panel-heading" role="tab" id="headingOne">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Schedule
                                </a>
                              </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                              <div   class="panel-body panel-table table-responsive" id= "bus_data_append">
                                <!-- partial -->
                                 <%= render :partial=> "user/routes/get_date_buses"  %>
                              </div>
                            </div>
                          </div>