<!-- first row -->
<div class="row trip-map-detail">
          <div class="col-md-9">
            <div class="trip-info-block">
              <div class="heading-block">
                <h2 class="heading"><%= @current_route.try(:name) %></h2>
                <div class="head-line m-b-10"></div>
              </div>
              <p class="txt">
               <%= @current_route.try(:information) %>
              </p>
               <div class="row trip-info-3">
                <div class="col-sm-3 bdr-right">
                  <div class="trip">
                    <label class="trip-label">Price :</label>
                    <span class="trip-span"><%= @current_route.price %></span>
                  </div>
                </div>
                <div class="col-sm-3 bdr-right">
                  <div class="trip">
                    <label class="trip-label">Trip duration :</label>
                    <span class="trip-span"><%= "#{@current_route.duration}"+" Days" %></span>
                  </div>
                </div>
                <div class="col-sm-3 bdr-right">
                  <div class="trip">
                    <label class="trip-label">Trip Start :</label>
                    <span class="trip-span"><%=@current_route.try(:start_point)%></span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="trip">
                    <label class="trip-label">Trip End :</label>
                    <span class="trip-span"><%=@current_route.try(:end_point)%></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="map-img" id = "#I1" ><img class="img-responsive" src= <%= @current_route.image%> style="width:100%; min-height:180px;"></div>
          </div>
        </div>

<script type="text/javascript"> 
$(document).ready(function(){
  $("#I1").mouseover(function(){

    $("#I1").animate({height:300,width:300},"fast");
   });
 $("#I1").mouseout(function(){
    $("#I1").animate({height:96,width:128},"fast");
   });
});
</script>